<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/head')%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Management</title>
</head>

<body>
<div class="layout">
    <meta charset="UTF-8">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h1>System Management</h1>
        <nav>
            <a href="/admin/branches" id="btnBranches">Branch Management</a>
            <a href="/admin/employees" id="btnEmployees">Employee Management</a>
            <a href="/admin/reports" id="btnReports">Reports & Analytics</a>
            <a href="/admin/admin" id="btnCustomers">Customer Management</a>
            <a href="/admin/report-invoices" id="btnreportInvoices">Report invoices</a>
            <a href="/admin/items" id="btnitems"> Item Management</a>
            <a href="/admin/order" id="btnOrder">Order Items</a>
        </nav>
    </aside>

    <!-- Main Content -->
    <main class="content">
        <!-- Branch Management Section -->
        <% if (branches && areas) { %>
            <section id="branches">
                <%- include('bodies/branches', {branches, areas, managers}) %>
            </section>
        <% } %>

        <% if (employees) { %>
            <section id="employees" class="hidden">
                <%- include('bodies/employees', { employees, departments, branches }) %>
            </section>
        <% } %>

        <!-- Reports Section -->
        <% if (revenueData) { %>
            <section id="reports" class="hidden">
                <%- include('bodies/reports', { revenueData, revenueItem, statistics }) %>
            </section>
        <% } %>

        <!-- Customers Section -->
        <% if (customers) { %>
            <section id="admin">
                <%- include('bodies/admin', { customers}) %>
            </section>
        <% } %>

        <!-- Report-Invoices Section -->
        <% if (invoices) { %>
            <section id="invoices">
                <%- include('bodies/report-invoices', {invoices}) %>
            </section>
        <% } %>

        <!-- Items Section -->
        <% if (items) { %>
            <section id="items">
                <%- include('bodies/items', { categories, items}) %>
            </section>
        <% } %>

        <!-- Order Section -->
        <% if (foods) { %>
            <section id="order">
                <%- include('bodies/order', { categories, foods,branches}) %>
            </section>
        <% } %>
    </main>
</div>

<script src="/public/admin/js/admin.js"></script>
<script src="/public/admin/js/employees.js"></script>

</body>

</html>
