<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Error Page</title>
    <link rel="stylesheet" href="../public/user/css/error.css">
</head>

<body>
<!--#TOP BAR-->
<div class="topbar"><%- include('partials/topbar') %></div>

<!-- Content Section -->
<div class="text-center error" >
    <h1><%= error.status || 500 %></h1>
    <p><%= error.message || 'Oops! Something went wrong.' %></p>
    <!-- Back to Home Link -->
    <a href="/">Go Back to Home</a>
</div>

<!-- Footer -->
<footer class="footer section has-bg-image text-center" style="background-image: url('../../public/user/images/footer-bg.jpg')">
    <%- include('partials/footer') %>
</footer>

<!--#BACK TO TOP-->
<a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
</a>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
